<% content_for :topbar do %>
  <%= link_to "Ajouter nouveau client", client_new_path %>
<% end %>
<div class="container">

  <br>
  <h1 class="pull-left">Liste des clients</h1>
  <div class="clearfix"></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Produit</th>
        <th>Statut actuel</th>
        <th>Panne</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="5"><span class="fa fa-tasks fa-2x"></span>&nbsp;Clients en cours :</td></tr>
      <%= render partial: "client_row", collection: @clients.reverse.select{|c| c.processed != true} %>
      <tr>
      <td colspan="5"><span class="fa fa-check fa-2x" style="color: green"></span>Clients termines :</td></tr>
      <%= render partial: "client_row", collection: @clients.reverse.select{|c| c.processed == true} %>
    </tbody>
  </table>
</div>
