// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.action-bar {
  background-color: #474747;
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.08) inset, 0px 1px 1px rgba(0, 0, 0, 0.15) inset, 0px -1px 0px rgba(255, 255, 255, 0.05) inset, 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}
.action-bar a {
  background: white;
  padding: 5px;
}


.fiche-sav img {
  height: 150px;
}

@media print {
@page{
margin: 25px
}
body {
  zoom: 0.7;
}


  .action-bar {
    display: none;
  }
}

.fiche-sav {
  position: relative;
  min-height: 2000px;
  padding: 30px;
  @media print {
    padding: 0;
    .tableau-panne {
      border-bottom: 3px solid #000 !important;
    }
    .checkbox[checked] {
      border-top-width: 22px;
      height:0px;
      border-bottom-width: 0px;
      border-color: black;
    }
    
  }
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
b { font-weight: bold;}

h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
}

h1 {   font-size: 35px; }
h2 { font-size: 30px;}

h1 {
  display: inline-block;
  margin-bottom: 10px;
  float: right;
  border: 1px solid black;
  margin-right: 50px;
  border-radius: 10px;
  padding: 10px;
}

.sav-address {
  font-family: Arial;
  padding: 1px;
  margin: 1px;
  float: left;
  font-size: 35px;
}

.client-infos {
  float: right;
  font-size: 35px;
  border: 1px solid black;
  margin-right: 50px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

.client-infos pre {
  float:right;
  margin: 0;
}

.signature-block {
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 30px;
}
.signature-contrat {
  color: red;
  font-size: 20px;
  margin-top: 10px;
}

.panne {
  float:right;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.produit-panne {
  float: left;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  margin-top: 10px;
  width: 30%;
}

.produit-panne label {
  font-size: 30px;
}

.produit {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}

.checkbox {
  border: 3px solid black;
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 10px;
  position: relative;
  top: 8px;
}

.checkbox[checked] {
  background: black;
}

.bottom-notice {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
}

body {
  padding: 20px;
}

.tableau-panne {
  border: 1px solid black;
  min-height: 300px;
  position: relative;
  padding-left: 10px;
  font-size: 25px;
}
.tableau-panne h3 {
  margin-left: 20px;
  position: absolute;
  bottom: 40px;
  font-size: 20px
}
.panne-bottom {
  font-size: 30px;
}

.checkbox-row {
  margin-top: 30px;
}


.checkbox-col {
  float: left;
  margin-right: 15px;
}
.checkbox-col label {
  font-size: 30px;
  position: relative;
  top: 8px;  
}
.checkbox-col .checkbox {
  top: 15px;
}

.preambule {
  font-size: 25px;
}

.qr-code-block {
  font-size: 25px;
  font-style: italic;
}

.qr-code-block .text {
  position: relative;
  top: 50px;
  font-size: 20px;
}

}// .fiche-sav